<ActionBar>
    <Label text="welcome page"></Label>
</ActionBar>

<GridLayout rows="auto, auto">
    <Button text="Go to Tabs Page" [nsRouterLink]="['/tabs/default']"></Button>
    <Button row="1" text="Logout" (tap)="onLogout()"></Button>
</GridLayout>

<!-- <FlexboxLayout>
    <StackLayout>
        <StackLayout class="logo">
            <Image id="logo" src="~/images/Logo_round.png"
                stretch="aspectFit"></Image>
            <Label id="label" text="When is your next party"></Label>
        </StackLayout>

        <StackLayout class="button">
            <Button id="signup" text="SIGN UP"></Button>
            <Button id="facebook" text="CONTINUE WITH FACEBOOK"></Button>
            <Label id="login" text="LOG IN"></Label>
            <Label id="services" text="Terms of services"></Label>
        </StackLayout>
    </StackLayout>
</FlexboxLayout> -->
