<FlexboxLayout
  class="flexboxlayout"
  alignItems="stretch"
  flexDirection="column"
>
  <StackLayout class="stacklayout">
    <StackLayout class="logo">
      <Image src="res://logo_round" id="logo" stretch="aspectFit"></Image>
      <Label id="label" text="Log in to get back to the party!"></Label>
    </StackLayout>

    <StackLayout>
      <TextField
        hint="Email"
        keyboardType="email"
        autocorrect="false"
        autocapitalizationType="none"
        class="input input-border"
      >
      </TextField>

      <TextField
        hint="Password"
        secure="true"
        class="input input-border"
      ></TextField>


      <Button id="login" text="LOG IN" [nsRouterLink]="['/tabs/default']" ></Button>
      <Label class="forgotPassword"
      text="Forgot password?" (tap)="forgotPassword()">
    </Label>
      <Label
        id="signup"
        text="Don't have an account? Sign up"
        (tap)="onNavigateWelcome()"
      >
</Label>
    </StackLayout>
  </StackLayout>
</FlexboxLayout>
