<ActionBar>
    <Label text="Login page"></Label>
</ActionBar>

<StackLayout>
  <Label text="Logged in"></Label>
  <Button text="Go to welcome page" (tap)="onNavigateWelcome()"></Button>
</StackLayout>

<!-- <FlexboxLayout class="flexboxlayout">
  <StackLayout class="stacklayout">
    <StackLayout class="logo">
      <Image
        id="logo"
        src="~/images/Logo_round.png"
        stretch="aspectFit"
      ></Image>
      <Label id="label" text="Log in to get back to the party!"></Label>
    </StackLayout>

    <StackLayout>
      <TextField
        hint="Email"
        keyboardType="email"
        autocorrect="false"
        autocapitalizationType="none"
        class="input input-border"
      >
      </TextField>

      <TextField
        hint="Password"
        secure="true"
        class="input input-border"
      ></TextField>

      <Button id="login" text="Log in"></Button>
      <Label
        id=" signup"
        text="Don't have an account? Sign up"
        [nsRouterLink]="['../register']"
      >
      </Label>


    </StackLayout>
  </StackLayout>
</FlexboxLayout> -->

