<!-- bottomnavigatie van de app + icons -->
<BottomNavigation>
  <TabStrip>
    <TabStripItem class="navigation__item">
      <!-- img nog veranderen naar bv. "res://festival"  -->
      <Label text="Festival"></Label>
      <!-- <Image src="res://festival" stretch="aspectFill"  class="festivalIcon"></Image> -->
      <Image src="~/assets/img/festival_icon.png" class="festivalIcon"></Image>
    </TabStripItem>

    <TabStripItem class="navigation__item">
      <Label text="Friends"></Label>
      <Image src="font://&#xf500;" class="fas t-36"></Image>
    </TabStripItem>

    <TabStripItem class="navigation__item">
      <Label text="Match"></Label>
      <Image src="~/assets/img/match_icon.png"></Image>
    </TabStripItem>

    <TabStripItem class="navigation__item">
      <Label text="Chat"></Label>
      <Image src="font://&#xf086;" class="far t-36"></Image>
    </TabStripItem>

    <TabStripItem class="navigation__item">
      <Label text="Profile"></Label>
      <Image src="font://&#xf007;" class="fas t-36"></Image>
    </TabStripItem>
  </TabStrip>

  <TabContentItem>
    <page-router-outlet name="festivalTab"></page-router-outlet>
  </TabContentItem>

  <TabContentItem>
    <page-router-outlet name="friendTab"></page-router-outlet>
  </TabContentItem>

  <TabContentItem>
    <page-router-outlet name="matchTab"></page-router-outlet>
  </TabContentItem>

  <TabContentItem>
    <page-router-outlet name="chatTab"></page-router-outlet>
  </TabContentItem>

  <TabContentItem>
    <page-router-outlet name="profileTab"></page-router-outlet>
  </TabContentItem>
</BottomNavigation>
