<Label text="No more people to swipe" [visibility]="noMorePeopleSignVisibility" id="NoMorePeople"></Label>
<ScrollView (doubleTap)="likePerson()" [visibility]="cardVisibility">
    <GridLayout [style]="cardStyle">
        <AbsoluteLayout class="stripes">
            <WrapLayout class="signs">
                <Image class="alcoholStripe stripe" src='~/app/images/red_stripe.png' [style]="stripeAlcoholOn"></Image>
                <Image class="wietStripe stripe" src='~/app/images/red_stripe.png' [style]="stripeWeedOn"></Image>
                <Image class="drugsStripe stripe" src='~/app/images/red_stripe.png' [style]="stripeDrugsOn"></Image>
            </WrapLayout>
        </AbsoluteLayout>

        <StackLayout>
            <Image class="personImg" stretch="aspectFill" [src]='personImg'></Image>
            <Label class="personName" [text]="personName"></Label>

            <WrapLayout>
                <Image class='alcoholSign signicon' src='~/app/images/alcohol.png'></Image>
                <Image class='wietSign signicon' src='~/app/images/weed.png'></Image>
                <Image class='drugsSign signicon' src='~/app/images/pills.png'></Image>
            </WrapLayout>

            <StackLayout class='line'></StackLayout>
            <Label textWrap="true" class="personBio" [text]="personBio"></Label>
            <StackLayout class='line'></StackLayout>
            <StackLayout class="declineButton" (tap)="dislikePerson();">
                <Image src='~/app/images/cross.png'></Image>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>

<AbsoluteLayout [style]="showThumb">
    <Image class="thumb-up" src='~/app/images/thumbup.png'></Image>
</AbsoluteLayout>
