<GridLayout>
  <ScrollView class="page">
    <StackLayout class="welcomeText">
      <Label class="textlabel" text="Now, what's your password? "></Label>
      <Label text="Make sure it has 8 characters."></Label>

      <TextField
        hint="Enter your password"
        secure="true"
        [secure]="pwdSecure"
        returnKeyType="next"
        minlength="8"
        ngModel
        #passwordCtrl="ngModel"
      ></TextField>
      <Label
        class="passwordValid"
        *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
        text="Please enter a valid password."
      ></Label>

      <Image src="res://logo" (tap)="pwdSecure = !pwdSecure"></Image>

      <Label class="textlabel" text="Password confirmation"></Label>
      <TextField
        hint="Enter your password"
        secure="true"
        [secure]="pwdSecures"
        minlength="8"
        ngModel
        #passwordCtrl="ngModel"
      ></TextField>
      <Label
        class="passwordValid"
        *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
        text="Please enter a valid password."
      ></Label>

      <Image src="res://logo" (tap)="pwdSecures = !pwdSecures"></Image>
      <Button
        class="next"
        text="NEXT"
        (tap)="onBirth()"
        [isEnabled]="passwordCtrl.valid"
      ></Button>
    </StackLayout>
  </ScrollView>
</GridLayout>

<!-- //  [(ngModel)]="textFieldValue" -->
