<!-- sign up page password, validation textfield with button, tap img for show/ not show password-->
<GridLayout>
  <ScrollView class="page">
    <StackLayout class="welcomeText">
      <Label class="textlabel" text="Now, what's your password? "></Label>
      <Label text="Make sure it has 8 characters."></Label>

      <GridLayout>
        <TextField
          hint="Enter your password"
          secure="true"
          [secure]="pwdSecure"
          returnKeyType="next"
          required minlength="8"
          ngModel
          #passwordCtrl="ngModel"

        ></TextField>
        <Label
          class="passwordValid"
          *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
          text="Please enter a valid password."
        ></Label>
        <Image src="res://eye_slash" (tap)="pwdSecure = !pwdSecure"
        onClick="change()"></Image>
      </GridLayout>

      <Label class="textlabel" text="Password confirmation"></Label>
      <GridLayout>
        <TextField
          hint="Confirm your password"
          secure="true"
          [secure]="pwdSecures"
          required minlength="8"
          required validateEqual="password"
          ngModel
          #confirmpasswordCtrl="ngModel"

        ></TextField>
        <Label
          class="passwordValid"
          *ngIf="!confirmpasswordCtrl.valid && confirmpasswordCtrl.touched"
          text="Please enter a valid password."
        ></Label>

        <Image src="res://eye_slash" (tap)="pwdSecures = !pwdSecures"></Image>
      </GridLayout>

      <Button
        class="next"
        text="NEXT"
        (tap)="onBirth()"
        [isEnabled]="passwordCtrl.valid"
      ></Button>
    </StackLayout>
  </ScrollView>
</GridLayout>

