<!--ActionBar needs to be empty otherwise it will be the name of the file -->
<ActionBar title=""></ActionBar>

<!-- Searchbar events -->
<StackLayout (loaded)="onSearchLoaded($event)">
  <SearchBar
    [text]="searchPhrase"
    (loaded)="onSearchBarLoaded($event)"
  ></SearchBar>
  <!-- (textChange)="onTextChanged($event)"
  (clear)="onClear($event)"
  (submit)="onSubmit($event)"
   -->

  <!-- <ActivityIndicator [busy]="isBusy" (busyChange)="onBusyChanged($event) "></ActivityIndicator> -->

  <!-- Loading events -->
  <StackLayout>
    <ListView
      [items]="items$ | async"
      loadOnDemandMode="Auto"
      loadOnDemandBufferSize="5"
      height="500"
      rowHeight="200"
      separatorColor="#DB4F27"
    >
      <!-- <ActivityIndicator [busy]="false"></ActivityIndicator> -->

      <ng-template let-item="item">
        <StackLayout class="festivalList">
          <Label
            [nsRouterLink]="['../item', item.evenementID]"
            [text]="item.evenementNaam"
          ></Label>
          <Image src="res://icon" class="imgListFestival"></Image>
          <Label [text]="item.beginDatum" class="labelFestival"></Label>
          <Label [text]="item.stad" class="labelFestival"></Label>
        </StackLayout>
      </ng-template>
    </ListView>

    <!-- <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" height="100" width="100" color="red" backgroundColor="gray" class="spinner"></ActivityIndicator> -->
  </StackLayout>
</StackLayout>
